.videoitem {
  height: 100px;
  width: 400px;
  background-color: transparent;
  margin: 10px 10px;
  display: flex;
  justify-content: flex-start;
}

.videoitem_thumbnail {
  width: 200px;
}
.videoitem_thumbnail img {
  width: 180px;
  height: 100px;
  object-fit: cover;
}

.videoitem_details {
  width: 200px;
  height: 100px;
  font-size: 18px;
  text-align: left;
}
